@import url('https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display&display=swap');

* {
	margin: 0;
	padding: 0;
}

html { 
	background-color: #000000;
	color: #ffffff;
	text-align: center;
}

h1, h2 { font-family: 'Playfair Display', serif; }

h1 {
	font-size: 48px;
	margin-bottom: 50px;
}

h2 {
	font-size: 36px;
}

p {
	font-family: 'Open Sans', sans-serif;
	font-weight: light;
	font-size: 18px;
}

nav {
  list-style-type: none;
  overflow: hidden;
  margin-bottom: 50px;
}

nav li {
	float: right;
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
	margin-top: 18px;
}

nav a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 14px 16px;
}

nav :not(.left) a:hover {
	background-color: #ffffff;
	color: #000000;
}

nav li.left {
	float: left;
	font-size: 36px;
	font-family: 'Playfair Display', serif;
	margin-top: 0px;
}

div.images { margin-top: 75px; }

div.images img {
	height: 250px;
	width: 250px;
	margin-right: 40px;
}

a {
	color: white;
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
}

a:hover {
	background-color: #ffffff;
	color: #000000;
}